.icon {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    padding: 15px 15px 15px 30px;
    color: #0B94D8;
}

.btn-info {
    background-color: #0B94D8;
}

/* default container */

/* intro container */

.intro-container {
    background-image: url('../img/1.jpg');
    background-position: center center;
    background-size: cover;
    height: 250px;
    padding: 10px;
    text-align: center;
}

.intro-container .title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: #0B94D8;
}

.intro-container .intro {
    color: #000000;
}

.intro-container button {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 50px;
}

/* search container */

.search-container{
    margin-bottom: 15px;
}

.searched_question {
    margin-bottom: 10px;
}

.searched_question .glyphicon-circle-arrow-right {
    color: #0B94D8;
}

.searched_question .glyphicon-pencil {
    color: #5cb85c;
}

.searched_question .glyphicon-remove {
    color: red;
}



#pollres-container,
#votepoll-container {
    top: 150px;
}

#pollres-container .modal-content,
#votepoll-container .modal-content {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#view_chart_button,
#view_table_button,
#vote_poll_button
{
    padding: 6px 50px; 
    float: right;
}

#chart_div table {
    width: auto;
    margin: 0 auto !important;
}


/* signup/login container */

#signup, #login, #myBooks {
    padding-top: 30px;
}

#profile {
    padding-top: 20px;
}


#signup button, #profile button, #login button {
    font-weight: bold;
    font-size: 16px;
    padding: 6px 50px;
}

/* end signup/login container */

/* new poll */

#newPoll .btn-info {
 background-color: #FFFFFF;   
 color: black;
 border-color: #adadad;
}

#newPoll .btn-info:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

#newPoll .form-inline input {
    width: 93%;
    display: inline;
}

#delete_button,
#close_button,
.searched_question  .glyphicon {
    cursor: pointer;
}

#newPoll button {
    font-weight: bold;
    font-size: 16px;
    padding: 6px 50px;
}

/* end new poll */

.logo {
    font-size: 60px;
    color: #0B94D8;
}

/*footer*/
footer {
    padding: 1px 0;
    background: rgb(241, 244, 235);
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.features-container {
    padding-top: 60px;
}

.features-container h4 {
    color: #0B94D8;
}

/* */
.book-container{
    width: 137px;
    height: 220px;
    margin: 5px;
    display: inline-block;
}

.image-container{
    margin: 0px;
}

.bookdesc-container{
    float: left;
    padding-left: 5px;
}

.book-image {
    width: 128;
    height: 192;
}

.trade-button{
    float:right;
    cursor:pointer;
}

.request-container{
    margin-top: 10px;
}

.ok-forApproval{
    float: right;
    left: -35px;
    color: #DEA1A1;
    cursor: pointer;
}

.status-1{
    background-color: #AAE4AA;
    border-radius: 6px;
    border-width: thin;
    border-style: solid;
    border-color: #AAE4AA;
    
}

.status-0{
    background-color: white;
    border-radius: 6px;
    border-width: thin;
    border-style: solid;
    border-color: white;
}

.status-2{
    background-color: #E8907C;
    border-radius: 6px;
    border-width: thin;
    border-style: solid;
    border-color: #E8907C;
}
