<!-- signup page -->
<section id="signup" class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6" ng-controller="UserSignupController">
                        <!--<div class="form-group">   
                          <label for="usr">Name</label>
                          <input type="text" class="form-control" aria-describedby="sizing-addon2" id="usr">
                        </div>-->
                        <div class="form-group">   
                          <label for="email">Email</label>
                          <input type="text" class="form-control" aria-describedby="sizing-addon2" placeholder="Please enter your user email" id="email" ng-model="email">
                        </div>
                        <div class="form-group">   
                          <label for="password">Password</label>
                          <input type="password" class="form-control" aria-describedby="sizing-addon2" placeholder="Please enter your user password" id="password" ng-model="password">
                        </div>
                        <div class="form-group">   
                          <label for="rPassword">Password Verification</label>
                          <input type="password" class="form-control" aria-describedby="sizing-addon2" placeholder="Please verify your user password" id="rPassword" ng-model="rpassword">
                        </div>
                        <button type="button" class="btn btn-success btn-sm" ng-click="signup()">Sign Up</button>
</section>