<!-- login page -->
<section id="login" class="col-sm-offset-3 col-sm-6" ng-controller="UserLoginController">
                        <div class="form-group">   
                          <label for="email">Email</label>
                          <input type="text" class="form-control" placeholder="Please enter your user email" aria-describedby="sizing-addon2" id="email" ng-model="email">
                        </div>
                        <div class="form-group">   
                          <label for="password">Password</label>
                          <input type="password" class="form-control" placeholder="Please enter your user password" aria-describedby="sizing-addon2" id="password" ng-model="password">
                        </div>
                        <button type="button" class="btn btn-info btn-sm" ng-click="login()">Login</button>
</section>