<!-- login page -->
<section id="allBooks" class="col-sm-offset-1 col-sm-4" ng-controller="BookAllBooksController">
    
                        <div class="form-group">   
                          <button type="button" class="btn btn-info btn-sm" style="display:inline">Your trade requests ( outstanding)</button>
                          <button type="button" class="btn btn-success btn-sm" style="display:inline">Trade requests for you ( unapproved)</button>
                        </div>
    
                        <h3>MY BOOKS:</h3>
                        <hr/>
                        <div class="form-group">   
                          <input type="text" class="form-control" placeholder="Please enter the booktitle" aria-describedby="sizing-addon2" id="email" ng-model="email">
                          <button type="button" class="btn btn-info btn-sm" ng-click="searchMyBook()">Add</button>
                        </div>
                        
</section>