<intropanel></intropanel>
<div class="row ">
    <div class="col-xs-12 col-sm-12 col-sm-offset-1 features-container">
        <div class="col-xs-6 col-sm-4"><h4>REQUEST</h4><p class="name"><i>Search for books that other users are offering</i></p></div>
        <div class="col-xs-6 col-sm-4"><h4>SHARE</h4><p class="name"><i>Lend those books that you are not reading at the moment</i></p></div>
        <div class="col-xs-6 col-sm-4"><h4>CATALOGUE</h4><p class="name"><i>List your trading books</i></p></div>
    </div>
</div>