<intropanel></intropanel>
<div class="row ">
    <div class="col-lg-10 col-lg-offset-2 features-container">
        <div class="col-lg-4"><h4>HHHTJJHTJH</h4><span class="name">asdhsakljdhsalkjdhlsakjdh</span></div>
        <div class="col-lg-4"><h4>HHHTJJHTJH</h4><span class="name">asdhsakljdhsalkjdhlsakjdh</span></div>
        <div class="col-lg-4"><h4>HHHTJJHTJH</h4><span class="name">asdhsakljdhsalkjdhlsakjdh</span></div>
    </div>
    <div class="col-lg-10 col-lg-offset-2 features-container">
        <div class="col-lg-4"><h4>HHHTJJHTJH</h4><span class="name">asdhsakljdhsalkjdhlsakjdh</span></div>
        <div class="col-lg-4"><h4>HHHTJJHTJH</h4><span class="name">asdhsakljdhsalkjdhlsakjdh</span></div>
        <div class="col-lg-4"><h4>HHHTJJHTJH</h4><span class="name">asdhsakljdhsalkjdhlsakjdh</span></div>
    </div>
</div>